
body {
    min-width: 200px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.Subtitle {
    text-align: center;
  }

select {
  padding: 5px;
  font-size: 16px;
  }

p {
  color: #cfcfcf;
}
h1 {
    font-size: 80px;
    margin: 0px;
    margin-top: 12px;

}
.newbt {
    border-width: 0px;
    background:rgb(86, 205, 50);
    border-radius: 4px;
    color: white;
    height: 48px;
    font-size: 16px;
    width: 168px;
    border-radius: 8px;

}
.newbt:hover {
    background-color:rgba(50, 177, 50);
}
.newbt:active {
    background-color: green;
}
.newbt_small {
  border-width: 0px;
  background:#f0f0f0;
  border-radius: 4px;
  color: (#000000, 231, 231);
  height: 32px;
  font-size: 12px;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
}
.newbt_small:hover {
  background-color:#e4e4e4;
}
.newbt_small:active {
  background-color: #cbcbcb;
}
select {
    margin-top: 12px;
    height: 46px;
}
.parent {
    width: 166px;
    overflow: hidden;
  }

.left {
    float: left;
  }

.right {
    float: right;
}
.btcard {
  margin-top: 16px;
}
.logolink {
  border-width: 0px;
  background-color: rgba(127, 255, 212, 0);
  transition: all 0.3s;
  margin-top: 12px;
  
}
.logolink a {
  font-size: 80px;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: #303030;
  }
  .newbt_small {
    background:rgba(240, 240, 240, 0.2);
    color: #ffffff;
  }
  .newbt_small:hover {
    background-color:rgba(240, 240, 240, 0.1);
  }
  .newbt_small:active {
    background-color: rgba(240, 240, 240, 0.05);
  }

}

