body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    height: 100vh;
    background-attachment: fixed;
  }
  .container {
    display: flex;
  }
  .footbar {
    background-color: #E0EA5E;
  }
  a {
    text-decoration: none;
  }
  .sidebar {
    background-image: linear-gradient(-45deg, #E0EA5E 0%, #30D158 100%);
    width: 200px;
    display: flex;
    flex-direction: column;
    position:fixed;
    height: 100%;
    overflow-y: auto;
  }
  .sidebar h1 {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 0px;
    font-size: 80px;
  }
  .sidebar h2 {
    text-align: center;
    margin: 0px;
    font-size: 24px;
    color: #000;
  }
  .sidebar p {
    text-align: center;
    margin-top:8px;
    margin-bottom: 0px;
    font-size: 12px;
    color:rgba(0,0,0,0.35);
  }
  .sidebar ul {
    list-style-type: none;
    padding: 20px;
    padding-top: 12px;
    padding-bottom: 80px;
    font-size: 16px;
    margin-top: 0px;
  }
  /*有一个多余元素，空文件夹👇*/
  .sidebar ul > li:first-child {
    height: 0;
    width: 0;
    overflow: hidden;
  }
  .sidebar ul li {
    margin: 10px 0;
    font-weight: bold;
    cursor: pointer;
  }
  .sidebar ul li a {
    color: rgb(0, 97, 21);
    display: block;
    padding: 12px;
    border-radius: 8px;
    transition: all 0.3s;
  }
  .sidebar ul li a:hover {
    background: rgba(250,250,250,0.5);
    padding-left: 20px;
  }
  .sidebar ul li a:active {
    background: rgba(250,250,250,0.2);
  }
  .content {
    flex: 1;
    margin-left: 200px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .content ul {
    list-style-type: none;
    margin: 0px;
    font-size: 16px;
    max-width:calc(1200px + 20vw);
    padding: 0;
    
  }
  .content li {
    margin: 10px 0;
    background: rgba(48,209,88,0.1);
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
    margin-right: 20px;
    border-radius: 12px;
    overflow: hidden;
  }
  .content li a {
    color: #000;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .content li a img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  .content li:hover {
    background: rgba(48,209,88,0.2);
  }

  .bookmark-title {
    margin-bottom: 12px;
    clear: both;
    font-size:32px;
    padding-top:32px;
    margin-top: 0px;
  }
  .info p {
    font-size: 12px;
    margin: 0px;
    margin-top:4px;
    text-align:left;
  }
  .info {
    bottom: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    width: 160px;
    padding: 12px 20px;
    z-index: 999;
  }
  .coffe svg{
    color:#000;
  }
  .coffe :hover{
    color:rgba(0,0,0,0.5);
  }
  .share {
    background-image: linear-gradient(-45deg, #E0EA5E 0%, #30D158 100%);
    width: 64px;
    height: 64px;
    border-radius: 32px;
    position: fixed;  
    top: 40px;
    right: 40px;
  }
  .share svg {
    font-size: 30px;
    padding:20px;
    color:#000;
    transition: all 0.3s;
  }
  .share svg:hover { 
    transform: rotateZ(-90deg) scale(1.3);
  }
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #0A2A12;
      background-image: linear-gradient(45deg, #19672d 0%, #2D2F13 100%);
      color:#fff;
    }
    .content li a {
      color: #fff;
    }
    .content li {
      background: rgba(250,250,250,0.05);
    }
  }
